.App {
    /* background-color: rgba(88, 111, 173, 0.877); */
    /* border: solid black; */
    /* border-radius: 3px; */
    /* background-image: url('https://images3.alphacoders.com/812/812062.png'); */
    background-position: center;
    background-size: cover;
    margin-top: -25px;
    /* margin-bottom: -20px; */
    /* display: flex; */
    /* displaY: flex; */
    /* min-height: max-content; */
}
